body{
    background-image: url('images/moon-1859616__480.webp');
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-color: black;
}
h1{
    color:aqua;
    font-family:'Roboto', sans-serif;
    position: relative;
    padding-left: 50%;
    padding-top: 0%;
}
p{
    color:whitesmoke;
    position: relative;
    padding-left: 50%;
    padding-top: 20%;
}